div.consoleMenu {
  position: absolute;
  bottom: -120px;
  height: 120px;
  width: 960px;
  background-color: #111c2a;
  .header {
    float: left;
    text-align: left;
    width: 100%;
    background-color: #1A2C40;
    h3 {
      margin: 5px;
      padding: 0;
    }
  }
  .consoleBody {
    margin-top: 35px;
    text-align: left;
    ul {
      height: 85px;
      overflow-y: auto;
      overflow-x: hidden;
      direction: ltr;
      li {
        list-style-type: none;
        padding: 3px 0px;
        &.odd {
          background-color: #1A2C40;
        }
      }
    }
  }
}