div.playerMenu {
  position: absolute;
  right: -350px;
  width: 350px;
  bottom: -120px;
  height: 120px;
  background-color: #1A2C40;
  border-left: 1px dotted #2f496c;
  .header {
    float: left;
    text-align: left;
    width: 100%;
    background-color: #111c2a;
    border-top: 1px dotted #2f496c;
    h3 {
      margin: 5px;
      padding: 0;
    }
  }
  .data {
    & > div {
      width: 49%;
      float: left;
    }
    .sectionLabel {
      border-bottom: 2px solid #111c2a;
      padding: 2px;
    }
    .itemContainer {
      border-right: 2px solid #111c2a;
    }
    .itemSlot {
      width: 50px;
      height: 50px;
      background-color: #111c2a;
      margin-left: 5px;
      margin-top: 5px;
    }
  }
}