.wrapper {
  color:    white;
  width:    950px;
  height:   600px;
  position: relative;
  background-color: black;

  .button {
    padding: 0.5em 1.5em;
    background-color: black;

    &.red {
      background-color: #D45659;
    }
  }
}

.menuContainer {
  position: absolute;
  bottom: 25px;
  left: 10%;
  width: 75%;
  text-align: center;
}