@font-face {
  font-family: pixeled;
  src: url(/assets/fonts/Pixeled.ttf);
}

.wrapper {
  color:    white;
  width:    950px;
  height:   600px;
  background-color: black;
  position: absolute;
  .button {
    padding: 0.5em 1.5em;
    background-color: black;

    &.red {
      background-color: #D45659;
    }
  }
}

h1 {
  font: 45px pixeled;
  padding-bottom: 0px;
  margin-bottom: 0px; 
}

.menuContainer {
  width: 100%;
  text-align: center;
}

.menu {
  position: absolute;
  width: 100%;
}